[Desktop Entry]
Version=1.0
Name=Prime Video
Comment=Aplicación web
Exec=brave-browser --app-id=nnmndpachanhhpkopfpfjjoiobkabgaa --class=WebApp-PrimeVideo8845 --name=WebApp-PrimeVideo8845
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=brave-ldkeojlciajnpndmbmaggjjmccadmmfd-Default
Categories=GTK;WebApps;
MimeType=text/html;text/xml;application/xhtml_xml;
StartupWMClass=WebApp-PrimeVideo8845
StartupNotify=true
X-WebApp-Browser=Brave Browser
X-WebApp-URL=https://www.primevideo.com/-/pt/offers/nonprimehomepage/ref=dv_web_force_root?language=pt
X-WebApp-CustomParameters=
X-WebApp-Navbar=false
X-WebApp-PrivateWindow=false
X-WebApp-Isolated=false
